body
{
background-image:url('img1.png');
}
.form1
{

margin:auto;
width:500px;
height:500px;
padding:80px;
text-align:center;

}

.center
{

background-image:url("simple.jpg");
margin:auto;
 height:400px;
 width:700px;
 margin-top:200px;
}
.form-bg
{
background-color:white;
height:150px;
width:400px;
margin:auto;

}
